@charset "UTF-8";
/* CSS Document */
.thumbs a{
	text-align:center;
	background:url(../images/bg/bg.png) repeat;
	float:left;
	width:2em;
	height:2em;
	margin-right:0.5%;
	line-height:1.50em;
	overflow:hidden;
	border-radius:5em;
	box-shadow: 0 -0.3em 0.4375em -0.2em #555, inset 0 0.1875em 0.275em -0.225em #fff;
	font-size:2.8125em;}
/*Fixed width to change with @media*/

ul#slider1{
	width:98%;
	clear:both;
	text-align:left;
	color:#3d4b51;}
ul#slider1 li{
	background:url(../images/bg/bg_lighter_lighter.png) repeat;
	padding:0.95em 0 0 0;
	margin:0;
	height:18.125em;
	overflow:hidden;}
.bx-window{
	overflow:hidden;}
.bx-wrapper{
	overflow:hidden;
	background:url(../images/bg/bg_lighter_lighter.png) repeat;
	box-shadow: 0 0 0 1px #C2E4EF, 0 0 0 3px #5A6A6F, 0 12px 12px -2px #5A6A6F;
	margin:0 auto;}
.pager-active{
	font-weight:900;
	line-height:3.75em;
	color:#A3B5BE;}

/*-------Slider 1------*/
p.speekCloud_first{
	text-align:center;
	background:#e9f8fe;
	border-radius:300%;
	line-height:100%;
	padding:10%;
	box-shadow: -4px 5px 4px 1px #718c9b;
	z-index:10;}
.speekCloud_middle{
	font-size:250%;
	margin-top: -1em;
	background:#e9f8fe;
	border-radius:300%;
	text-align:center;
	padding:35% 20%;
	line-height: 100%;
	box-shadow: -4px 5px 4px 1px #718c9b;
	z-index:11;
	opacity:0.75;}
div.speekCloud_last{
	padding:10%;
	background:#e9f8fe;
	border-radius:300%;
	margin: -2em 0 0 5em;
	line-height:50%;
	text-align:center;
	box-shadow: -4px 5px 4px 0px #718c9b;
	opacity:0.9;
	z-index: 9;}
#onetorule{
	}
#onetorule p{
	font-size:0.85em;}
#onetorule p.fontHandwrittenBold{
	font-size:1.5625em;}
/*-------Slider 2------*/
img.pellePosePose{
	z-index:11;}
h6#education{
	margin-top: -1em;
}
p.titleResume{
	font-size:0.85em;
	float:left;
	margin:0;}
p.yearResume{
	font-size:0.85em;
	float:right;
	margin:0;
	padding:0 1.875em;}
table a:hover{
	color:#4c616b;}
/*-------slider 3-------*/
li#sliderpage3{
	text-align:center;}
img.pellePosePosePose{
	width:248px;
	height:333px;}
img.StockngoAfter{
	width:200px;
	height:200px;}
img.StockngoBefore{
	width:200px;
	height:200px;}
article h3{
	line-height:75px;}