@charset "UTF-8";



/*--------General settings---------*/


/* 

Colours :
font (BG-COLOUR) Blue Lighter-Lighter : #A3B4BE
font (BG-COLOUR) Blue : #718c9b
font (BG-COLOUR) darker Blue : #4c616b
font (BG-COLOUR) darkest Blue : #27333a
slider text blue : #3d4b51

Background Colour : #708C9A
box-shadow blue : #4C646F
box-shadow lighter blue #718c9b;

text selection colours 

Slider : #D1E6EF
Body : #99C9DF
(

::selection { background:#CCD0DB; color:#000}
::-moz-selection {background:#CCD0DB;color:#000}
::-webkit-selection { background:#CCD0DB; color:#000}

)



*/

/*--------Fonts-------*/

/*Main*/
@font-face {
    font-family: 'DroidSansRegular';
    src: url('typo/DroidSans-webfont.eot');
    src: url('typo/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/DroidSans-webfont.woff') format('woff'),
         url('typo/DroidSans-webfont.ttf') format('truetype'),
         url('typo/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('typo/DroidSans-Bold-webfont.eot');
    src: url('typo/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/DroidSans-Bold-webfont.woff') format('woff'),
         url('typo/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('typo/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Handwritten*/
@font-face {
    font-family: 'AmaticSCRegular';
    src: url('typo/AmaticSC-Regular-webfont.eot');
    src: url('typo/AmaticSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/AmaticSC-Regular-webfont.woff') format('woff'),
         url('typo/AmaticSC-Regular-webfont.ttf') format('truetype'),
         url('typo/AmaticSC-Regular-webfont.svg#AmaticSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaticSCBold';
    src: url('typo/AmaticSC-Bold-webfont.eot');
    src: url('typo/AmaticSC-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/AmaticSC-Bold-webfont.woff') format('woff'),
         url('typo/AmaticSC-Bold-webfont.ttf') format('truetype'),
         url('typo/AmaticSC-Bold-webfont.svg#AmaticSCBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Typewriter*/
@font-face {
    font-family: 'MyUnderwoodRegular';
    src: url('typo/MyUnderwood-webfont.eot');
    src: url('typo/MyUnderwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/MyUnderwood-webfont.woff') format('woff'),
         url('typo/MyUnderwood-webfont.ttf') format('truetype'),
         url('typo/MyUnderwood-webfont.svg#MyUnderwoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-----------End Fonts-------------*/
html, body{
background: #ffffff;
	color:#27333a;
    font-family: 'DroidSansRegular','DroidSansBold', sans-serif;
	/*text-shadow: -1px -1px 0px #D7E7EE;*/}
div#background{
	background:url(../images/bg/bg.png) repeat;
	overflow:visible;
	padding-bottom:1.5625em;
	border-radius:0.625em;
	margin-top:1.875em;
	box-shadow: 0 0 0 1px #8EA7AF, 0 0 0 2px #404B4F, 0px 4px 4px -4px #5A6A6F;}
#slider1 ::-moz-selection {background:#D1E6EF;}
#slider1 ::-webkit-selection { background:#D1E6EF;}

header ::selection { background:#99C9DF;}
header ::-moz-selection {background:#99C9DF;}
header ::-webkit-selection { background:#99C9DF;}

footer ::selection { background:#BFEBFF;}
footer ::-moz-selection {background:#BFEBFF;}
footer ::-webkit-selection { background:#BFEBFF;}

/*Font classes*/
.fontMainRegular{
    font-family: 'DroidSansRegular', sans-serif;}
.fontMainBold{
    font-family: 'DroidSansBold', sans-serif;}
.fontHandwrittenRegular{
    font-family: 'AmaticSCRegular', sans-serif;}
.fontHandwrittenBold{
    font-family: 'AmaticSCBold', sans-serif;}
.fontHandwritten{
    font-family: 'AmaticSCBold', sans-serif;
    font-weight: 400;}
.fontTypewriter{
    font-family: 'MyUnderwoodRegular', sans-serif;}
/*End Font classes*/
/*--------Header---------*/

ul{
	list-style-type:none;}
header#logotype{
	background:url(../images/bg/logo_960.png) no-repeat;
	background-size:100%;
	margin:0 1%;
	width:98%;}
nav#mainMenu{
	width: 50%;
    font-family: 'MyUnderwoodRegular', sans-serif;
	margin:0 10% 0 5%;}
ul li.mainMenu{
	text-align:center;
	background-color:#ffffff;
	float:left;
	width:6.25em;
	height:6.25em;
	margin-left: 1.875em;
	margin-top:-3.4375em;
	overflow:hidden;
	border-radius:6.25em;}
ul li.mainMenu a{
	font-size:131.25%;
	font-weight:900;
	line-height:6em;
	color:#4c616b;}
article#welcome{
	color:#27333a;
	width:45%;
	margin: 0 1% 0 0;}
article#welcome h6{
	font-size:137.5%;
	line-height:0.9em;} 
article#welcome p{
	line-height:1.3em;
	font-size:80%;}
h1#hello{
	color:#3B525F;
	font-size:2.875em;
	font-weight:400;
	line-height:2em;
	letter-spacing:0.05em;
	text-shadow: 0.03em 0.03em 0 #27333a, -0.03em -0.03em 0 #B5D3DF;}
nav#secondMenuPosition{
	margin:-5.25em 0 0 4em;}
li.secondMenu{
	text-shadow: 0.03em 0.03em 0 #27333a, -0.03em -0.03em 0 #B5D3DF;
	}
li.secondMenu a{
	margin-right: 0.25em;
}
/*HTML5 title must-have, invisible*/
.navTitle{
	visibility:hidden;
	margin:0;
	padding:0;
	width:0;
	line-height:0;}
/*-------------main content-----------------*/
#mainContent{
	width:100%;}
article.welcomeText{
	padding:0px 5px 15px 15px;
	margin:0;}
/*-------------Footer-----------------------*/

footer{
	height:100%;
	background: transparent;
}
#footerbackground{
	background:url(../images/bg/logo_960_3.png) no-repeat;
	background-size:100%;}
ul#socialmenu{
	width:100%;
	height:132px;
	margin-top:2em;
	margin-bottom:4em;
	box-shadow: 0 1px 2px -2px #C2E4EF, 0px 20px 32px -30px #5A6A6F;
	} 
li.socialmenu{
	float:left;	}
li.socialmenu a img#linkedinOff{
	margin-top:-145px;}
li.socialmenu a img#facebookOff{
	margin-top:-145px;}
li.socialmenu a img#flickrOff{
	margin-top:-145px;}
li.socialmenu a img#twitterOff{
	margin-top:-150px;}
li.socialmenu a img#linkedinOn{}
li.socialmenu a img#facebookOn{}
li.socialmenu a img#flickrOn{}
li.socialmenu a img#twitterOn{}
li.socialmenu{
	width:25%;
	margin:0;
	padding:0;}
li.socialmenu a{}
li.socialmenu a img{
	width:100%;
	background-size:100%;}
.footermenu{
	font-size:1em;
	z-index:10;
	float:left;
	}
/* hack Chrome / Safari */

.footermenu p{
	padding-bottom:30px;}
li.contactLinks a:hover{
	font-weight:700;
	}
p.contactLinks a:hover{
	color:#C3D5DF;}
li.contactLinks address{
	letter-spacing:0.01em;
	line-height:1.25em;
	width:0;
	height:0;
	font-size:1.2em;
	visibility:hidden;}
li.contactLinks address a{
	color:#C3D5DF;}
li.contactLinks address a:hover{
	color:#27333a;}
nav#tribute{
	padding:1.5em;
	width:35%;
	margin:2em 8%;
	border-radius:3em;
	background:url(../images/bg/bg_lighter.png) repeat;}
h6.tribute{
	color:#4c616b;
	overflow:hidden;
	line-height:120%;}
p.tribute{
	font-size:75%;
	text-align:justify;
	line-height:130%}

.footermenu li{
	font-size:1em;
	line-height:1.4em;}
.footermenu li a{
	font-weight:400;
	color:#27333a;}
.footermenu li a:hover{
	font-weight:400;
	color:#C3D5DF;}
.contactLinks{
	float:left;}
/*------------------Contact Form--------------------*/


form#contactPellenetdesign{
	box-shadow:0px -20px 32px -20px #5A6A6F;
	width:35%;
	height: 45em;}
form#contactPellenetdesign:hover{
	box-shadow:inset -10px 0 75px 0px #9BB6BF, 0 0 0 2px #B5D5DF, 0 0 0 4px #5A6A6F, -2px 4px 8px 8px #5A6A6F;}
textarea{
    font-family: 'MyUnderwoodRegular';
	letter-spacing:0.05em;
	background:#C3D5DF;
	border:none;
	padding:0.5em 0.2em;
	border-radius:1.5em;
	color:#4c616b;
	font-size:110%;
	line-height:1em;
	width:100%;
	height:150px;}
input{
	width:100%;
	padding:0.5em 0.2em;
    font-family: 'MyUnderwoodRegular';
	letter-spacing:25%;
	background:url(../images/bg/bg_lighter_lighter.png) repeat;
	border:none;
	border-radius:1.5em;
	font-size:110%;
	color:#4c616b;}
input#name{
	width:100%;}
input#email{
	width:100%;}
input#url{
	width:100%;}
input#submit{
text-align: center;
	width:40%;
    font-family: 'MyUnderwoodRegular';}
input#submit:hover{
	font-weight:500;
	color:#27333a;
	background:#C3D5DF;
	box-shadow:  0 0 0px 4px #A8C5CF;}
input::-webkit-input-placeholder {
    color:   #4c616b;
}
input:-moz-placeholder {
    color:  #4c616b;
}
/* on hover */
input:hover::-webkit-input-placeholder {
    color: #3B525F;
}
input:hover:-moz-placeholder {
    color: #3B525F;
}
input:focus, textarea:focus{
	background-image:none;
	background:#D1E4EF;
	color:#27333a;
	box-shadow:  0 0 0px 4px #A8C5CF;
	border-radius:20px;
	border:none;
}

/*-------The very bottom misc Footer links-------*/
ul#miscFooterLinks{
	width:90%;
	margin:0 5%;}
/* hack Chrome / Safari 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul#miscFooterLinks{
	margin:-40px auto 0 auto;
	width:390px;}
}*/
#miscPosition{
	width:57%;
	margin-right: -10%;}
li.miscFooterLinks{
	width:15%;
	margin: 0 9%;
	border-radius:0.75em;
	overflow:hidden;
	box-shadow: 0 0 0 1px #8EA7AF, 0 0 0 2px #404B4F, -2px 4px 4px 2px #5A6A6F, 0 16px 8px -6px #3B525F;
	}
li.miscFooterLinks:hover{
	width:15%;
	margin: 0 9%;
	box-shadow:  0 0 0 1px #B5D5DF, 0 0 0 2px #5A6A6F, -2px 4px 4px 2px #5A6A6F, 0 6px 0px -2px #3B525F;
	border-radius:0.75em;
	overflow:hidden;}
#copyright{
	margin:0 auto 0 auto;
	padding:1em 0 1.5em 0;
	width:100%;
	clear:both;}