/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}


/*----My modifications-------*/
a{
	text-decoration:none;
	color:#000000;}
	
/*--------Forms---------*/
form{
	padding:10px;
	text-align:center;}
input{
	float:left;
	margin:5px 0;
	clear:both;
	text-align:left;}
input#name{
	width:75%;}
input#email{
	width:75%;}
input#url{
	width:75%;}
input#submit{
	margin:15px 90px 15px 0;
	float:right;
	cursor:pointer;
	clear:both;}
label{
	float:left;
	clear:both;
	margin:10px 0 0 20px;
	text-align:center;}
textarea{
	float:left;
	clear:both;
	width:75%;
	text-align:left;}

/*---html5 placeholder styles---*/

input::-webkit-input-placeholder {
    color:   #666;
    margin-left: inherit; /* probably not needed */
}
input:-moz-placeholder {
    color:  #666;
}
/* on hover */
input:hover::-webkit-input-placeholder {
    color: #000;
    margin-left:10px;
}
input:hover:-moz-placeholder {
    color: #000;
}
/*-------Focus----------*/
input:focus, textarea:focus{
}
img{
	background-size:100%;}
/*Floated elements
--------------------------------------------------------------------------*/
.clearBoth{
	clear: both;
}
.floatLeft{
	float:left;}
.floatRight{
	float:right;}
.clearLeft{
	clear:left}
.clearRight{
	clear:right;}
/*Vertical margins
--------------------------------------------------------------------------*/
.noMargin{
	margin: 0;
}
.margin_vert_2{
	margin: 2% 0;
}
.margin_vert_5{
	margin: 5% 0;
}
.margin_vert_8{
	margin: 8% 0;
}
.margin_vert_10{
	margin: 10% 0;
}
.margin_vert_13{
	margin: 13% 0;
}
.margin_vert_15{
	margin: 15% 0;
}
.margin_vert_18{
	margin: 18% 0;
}
.margin_vert_20{
	margin: 20% 0;
}
/*Vertical paddings
--------------------------------------------------------------------------*/
.noPadding{
	padding:0;
}
.padding_vert_2{
	padding: 2% 0;
}
.padding_vert_5{
	padding: 5% 0;
}
.padding_vert_8{
	padding: 8% 0;
}
.padding_vert_10{
	padding: 10% 0;
}
.padding_vert_13{
	padding: 13% 0;
}
.padding_vert_15{
	padding: 15% 0;
}
.padding_vert_18{
	padding: 18% 0;
}
.padding_vert_20{
	padding: 20% 0;
}
/*img standards
-----------------------------------------------------*/
img{
	width:100%;
	height:100%;
	background-size:100%;
}
