img { behavior: url(js/captcha/iepngfix.htc); }


/* FANCY CAPTCHA STARTS */
.ajax-fc-container {
	clear:right;
	float:right;
	text-align:center;
	width:100%;}
#ajax-fc-content{
	height:200px;
	text-align:center;}
/* block left: task and pictures */
p#ajax-fc-task {
	height:6em;
	}
p#ajax-fc-task span {
	color:#C3D5DF;}
ul#ajax-fc-task {
	width:60%;
	margin:0 20%;
	height:4em;
	}
ul#ajax-fc-task li { float: left;}
p#ajax-fc-circle {
	background:url(../../images/btn/footerbuttons/dropithere.png) no-repeat; 
	background-size:100%;
	margin:3em auto 0 auto;
	padding:0;
	width: 5em; 
	height: 5em;
	border-radius:2.5em;
}


/* items */
.ajax-fc-highlighted { cursor: pointer; z-index: 102}
#ajax-fc-left{}


