img { behavior: url(js/captcha/iepngfix.htc); }


/* FANCY CAPTCHA STARTS */
.ajax-fc-container {
	clear: both;
}
#ajax-fc-content{
	width:100%;
	height:15em;
	text-align:center;}
/* block left: task and pictures */
p#ajax-fc-task {
	padding: 2em 0;
	width: 100%;
}
p#ajax-fc-task span {
	height: 3em;
	text-align: center;
	color:#C3D5DF;}
ul#ajax-fc-task {
	width: 13em;
	margin:0 auto;
	text-align:center;
	}
ul#ajax-fc-task li { float: left;}
p#ajax-fc-circle {
	background:url(../../images/btn/footerbuttons/dropithere.png) no-repeat; 
	background-size:100%;
	margin:5em auto 0 auto;
	padding:0;
	width: 80px; 
	height: 80px;
	/*box-shadow: inset 0 0 0px 4px #A8C5CF;*/
	border-radius:3em;
}


/* items */
.ajax-fc-highlighted { cursor: pointer; z-index: 102}
#ajax-fc-left{
	width:100%;
	text-align:center;}

/* rounded corners */

.ajax-fc-r0{}
.ajax-fc-r1{}
.ajax-fc-r2{}
.ajax-fc-r3{}
.ajax-fc-r4{}
