img { behavior: url(js/captcha/iepngfix.htc); }


/* FANCY CAPTCHA STARTS */
.ajax-fc-container {
	float:right;
	margin-right:10px;}
#ajax-fc-content{
	width:350px;
	height:200px;
	text-align:center;}
/* block left: task and pictures */
p#ajax-fc-task {
	height:40px;}
p#ajax-fc-task span {
	color:#C3D5DF;}
ul#ajax-fc-task {
	padding:0;
	margin:0;
	height:40px;
	text-align:center;
	}
ul#ajax-fc-task li { float: left;}
p#ajax-fc-circle {
	background:url(../../images/btn/footerbuttons/dropithere.png) no-repeat; 
	background-size:100%;
	margin:0 auto;
	padding:0;
	width: 80px; 
	height: 80px;
	/*box-shadow: inset 0 0 0px 4px #A8C5CF;*/
	border-radius:40px;
}


/* items */
.ajax-fc-highlighted { cursor: pointer; z-index: 102}
#ajax-fc-left{
	width:100%;
	text-align:center;}

/* rounded corners */

.ajax-fc-r0{}
.ajax-fc-r1{}
.ajax-fc-r2{}
.ajax-fc-r3{}
.ajax-fc-r4{}
